.toDown {
  animation: toDown 1 1s;
  position: relative;
}

@-webkit-keyframes toDown {
  from {
    top: -100px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes toDown {
  from {
    top: -100px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}
