/* bower:scss*/
/* endbower*/
@import "normalize";
@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700';
@import "animations";
@import "../../node_modules/bulma/bulma";

.card {
  padding: 1rem;
}

header.hero {
  padding: 1rem;  

  @media screen and (max-width: 500px){
    height: 100vh;
    height: 100%;
  }

  .avatar {
    padding: 0;
  }
 
}

section {
  padding-block-start: 2rem;
  padding-block-end: 4rem;
  padding-inline-start: 1rem;
}

